<!-- BACKGROUND IMAGE -->
  <!--===================================================-->
  <div id="bg-overlay" class="bg-img" style="background-image: url('<%= image_path('background_login.jpg')%>')"></div>


  <!-- LOGIN FORM -->
  <!--===================================================-->
  <div class="cls-content">
    <div class="cls-content-sm panel">
      <div class="panel-body">
        <div class="mar-ver pad-btm">
          <h1 class="h3">Account Login</h1>
          <p>Sign In to your account</p>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Username' %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="checkbox pad-btm text-left">
                  <%= f.check_box :remember_me, class: 'magic-checkbox' %>
                  <%= f.label :remember_me %>
                </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class: 'btn btn-primary btn-lg btn-block' %>
            </div>
        <% end %>
      </div>

      <div class="pad-all">
        <%= render "devise/shared/links" %>
        <div class="media pad-top bord-top">
          <div class="pull-right">
            <a href="#" class="pad-rgt"><i class="psi-facebook icon-lg text-primary"></i></a>
            <a href="#" class="pad-rgt"><i class="psi-twitter icon-lg text-info"></i></a>
            <a href="#" class="pad-rgt"><i class="psi-google-plus icon-lg text-danger"></i></a>
          </div>
          <div class="media-body text-left text-bold text-main">
            Login with
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===================================================-->