<!DOCTYPE html>
<html>
  <head>
    <title>TemplateApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag image_path('favico.ico') %>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="pace-done">
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div class="effect aside-float aside-bright mainnav-lg aside-in" id="container">
      <%= render 'layouts/components/top_navigation' %>
      <%= render 'layouts/components/navigation' %>
      <%= yield %>
      <%= render 'layouts/components/footer' %>
    </div>
    <%= render 'layouts/components/messages' %>
  </body>
</html>
