<!DOCTYPE html>
<html>
<head>
  <title>TemplateApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="pace-done">

  <div id="container" class="cls-container">
    <%= yield %>
  </div>
  <script type="text/javascript">
      $(document).ready(function(){
          <% if notice %>

          $(function() {
              $.niftyNoty({
                  type: 'warning',
                  container: 'floating',
                  message: '<%= notice %>',
                  closeBtn: false,
                  timer: 1500
              });
          });
          <% end %>

          <% if alert %>
          $(function() {
              $.niftyNoty({
                  type: 'danger',
                  container: 'floating',
                  message: '<%= alert %>',
                  closeBtn: false,
                  timer: 1500
              });
          });
          <% end %>
      });

  </script>
</body>
</html>